body{
    background-color:#999999;
    font-family: Helvetica, sans-serif;
}

#title{
    font-size: 5em;
    margin:0 auto;
    text-align:center;
    padding: 0 0 0 0;
}

#subtitle{
    font-size: 1.25em;
    margin:0 auto;
    text-align:center;
    padding: 0 0 0.3em 0;
}

#main{
    background-color:#666666;
    color:#000099;
    max-width: 800px;
    min-height: 60px;
    margin: 0 auto 1em;
    padding: 0.6em 0.8em;
    font-size: 1.2em;
    text-align: center;
	box-shadow: 3px 3px 6px #0000AA;
}

#controls{
    text-align: center;
}

#footer{
	margin-top: 1em;
    display: block;
	text-align: center;
	font-size: 0.8em;
}

.emoji-text{
    font-family: sans-serif;
}

.button{
    border-radius: 8px;
    display: inline;
    font-size: 1.6em;
    padding: 0.4em;
	margin: 0 0.4em;
    background-color:#666666;
    color:#000099;
	user-select: none;
	border: none;
}

a{
    color:#000099;
    text-decoration: none;
}

a.button:link, a.button:visited{
	text-decoration:none;
    color:#000099;
}

.button:hover, .button:active{
    background-color:#777777;
}

@media screen and (max-width: 570px){
	#title{
		font-size: 3em;
	}
    #subtitle{
        font-size: 0.75em;
    }
}
